.stock_block{
    margin-top: 1rem;
    margin-left: 1rem;
    display: inline-block;
    width: 15rem;
    height:10rem;
    padding: 1rem;
    border-style: solid;
    box-shadow: 10px 10px 5px grey;
}

  .loss{ color:#EC748C; }
  .gain{ color:#68B691; }
  