.stock_data{
    height:200px;
}

.block-shadow{
    margin-top: 1rem;
    margin-left: 1rem;
    width: 40rem;
    padding: 1rem;
    border-style: solid;
    box-shadow: 5px 5px 5px grey;
    float:left;

}
